body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-image: url("../images/Melamine-wood-005.png");
  font-family: serif;
  font-style: italic;
  font-weight: bold;
}

.frame {
  width: 680px;
  height: 680px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.branding {
  position: absolute;
  color: gold;
}

.container {
  width: 480px;
  height: 480px;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
}
