body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-image: url("../images/Melamine-wood-005.png");
  font-family: serif;
  font-style: italic;
  font-weight: bold;
}

.frame {
  width: 680px;
  height: 680px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 16px 32px 8px hsl(0 0 0 / 32%);
}

.branding {
  position: absolute;
  top: 10px;
  color: gold;
}

.container {
  width: 480px;
  height: 480px;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
}

.control {
  position: absolute;
  bottom: 7px;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  background-color: white;
}

#left {
  left: 7px;
}

#right {
  right: 7px;
}

.grid-form {
  position: absolute;
  bottom: 23px;
}

#grid-input {
  font-size: 12pt;
  border-radius: 100px;
  padding: 16px;
  max-width: 125px;
  text-align: center;
}

/* Hide arrows on number input */
/* See https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
